  /* Landing Page */
  .LandingPage {
    width: 1440px;
    height: 1280px;

    position: absolute;
    left: 0px;
    top: 0px;

    background: #ffffff;
    /* background: rgb(255, 196, 196); */
  }

  .Header {
    width: 1248px;
    height: 123px;

    position: absolute;
    margin: 0 96px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: greenyellow; */
  }

  .HeaderTitle {
    position: absolute;

    font-family: "Quella";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;

    color: #1e1e1e;
    /* background: plum; */
  }

  .HeaderLeftBlock {
    width: 315px;
    height: 27px;

    position: absolute;
    left: 238px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;

    color: rgba(30, 30, 30, 0.5);
    /* background:skyblue; */

  }

  .HeaderRightBlock {
    height: 24px;
    width: 216px;

    position: absolute;
    right: 0px;
    display: flex;
    justify-content: space-between;

    /* background:palegoldenrod; */

  }

  .content {
    width: 1248px;
    height: 512px;

    position: absolute;
    left: 96px;
    top: 123px;

    background: #C1DCDC;
    border-radius: 24px;
  }

  .contentBlock {
    width: 512px;
    height: 339px;

    position: absolute;
    left: 48px;
    top: 48px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;

    /* background: antiquewhite; */
  }

  .contentBlockTitle {
    width: 400px;
    height: 128px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 64px;
    /* or 100% */

    color: #000000;
  }

  .contentBlockText {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 48px;

    width: 318px;
    height: 75px;

    /* background: olive; */
  }


  .contentSearch {

    width: 449px;
    height: 64px;
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: center;


    background: #FFFFFF;
    border-radius: 12px;

  }

  .contentSearchIcon {
    width: 48px;
    height: 48px;

    position: absolute;
    left: 393px;

    display: flex;
    justify-content: center;
    align-items: center;


    background-color: #c1dcdc;
    border-radius: 12px;
  }

  .contentTextBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px;

    width: 100px;
    height: 75px;
  }

  .contentBlockText1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;

    color: #1E1E1E;

  }

  .contentBlockText2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    color: #1E1E1E;

  }

  .searchText {
    position: absolute;
    left: 18px;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;


    color: rgba(30, 30, 30, 0.5);

  }


  .itemTextBlock {
    width: 256px;
    height: 264px;

    position: absolute;
    left: 96px;
    top: 732px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;



    /* background: wheat; */
  }


  .itemText1 {
    width: 200px;
    height: 96px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;


    color: #1e1e1e;
  }

  .itemText2 {
    width: 160px;
    height: 81px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    color: rgba(30, 30, 30, 0.5);
  }


  .itemButton {
    width: 147px;
    height: 51px;

    position: relative;
    bottom: 0;
    left: 0;

    display: flex;

    align-items: center;
    justify-content: space-between;

    padding: 20px 0px;

    background: #c1dcdc;
    border-radius: 8px;
  }

  .itemButtonText {


    position: absolute;
    left: 20px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;


    color: #1e1e1e;
  }

  .itemPic {
    width: 299.33px;
    height: 363px;
    border-radius: 12px;
  }

  .itemBlock {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 7px;

    width: 128px;
    height: 61px;

    /* background: gold; */
  }

  .itemBlockTitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    color: #1E1E1E;

  }

  .itemBlockText {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    color: rgba(30, 30, 30, 0.5);

  }


  .AboutUs {
    height: 512px;
    width: 1440px;

    position: absolute;
    left: 0px;
    top: 1280px;

    /* background: aquamarine; */
  }

  .AboutUsTitleBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 12px;
  }

  .AboutUsTitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #1E1E1E;
  }

  .AboutUsItem {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    gap: 24px;
    margin: 24px 96px;
  }

  .AboutUsItemBlock {
    width: 400px;
    height: 213px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    text-align: center;

    /* background: red */
  }

  .AboutUsIcon {
    width: 96px;
    height: 96px;


    background: #C1DCDC;
    border-radius: 58px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .AboutUsText {
    width: 350px;
    height: 54px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    display: flex;
    text-align: center;
    justify-content: center;

    color: rgba(30, 30, 30, 0.5);

  }

  .AboutUsIconText {
    width: 300px;
    height: 54px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    display: flex;
    text-align: center;

    color: rgba(30, 30, 30, 0.5);

  }

  .AboutUsIconTitle {
    width: 166px;
    height: 27px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    color: #000000;
  }

  .Categories {
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 1792px;

    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    gap: 12px;

    background: #FFFFFF;
    /* background: yellow; */
  }

  .CategoriesTitle {
    width: 182px;
    height: 48px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;

    color: #1E1E1E;
  }

  .CategoriesBg {
    position: absolute;
    width: 1440px;
    height: 841px;
    left: 0px;
    top: 183px;


    background: #C1DCDC;
  }

  .frame25-1 {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 12px;

    position: absolute;
    width: 352px;
    height: 551px;
    left: 96px;
    top: -48px;
  }

  .frame25-2 {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 352px;
    height: 692px;
    left: 544px;
    top: 48px;
  }

  .frame25-2-1 {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 12px;

    width: 352px;
    height: 617px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .frame25-2-1Group {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 12px;

    width: 352px;
    height: 551px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .frame25-2-1Text {
    width: 250px;
    height: 54px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;

    /* Color 2 */

    color: rgba(30, 30, 30, 0.5);

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .frame25-3 {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 12px;

    position: absolute;
    width: 352px;
    height: 551px;
    left: 992px;
    top: -48px;
  }

  .frame25Pic {
    width: 352px;
    height: 512px;

    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .frame25Text {
    /* Natural Plants */

    width: 133px;
    height: 27px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */

    /* Color 2 */

    color: #1e1e1e;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .frame25-2-2 {
    
    width: 147px;
    height: 51px;

    position: absolute;
    top:641px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    gap: 10px;


    background: #ffffff;
    border-radius: 8px;

  }

  .Testimonial {
    position: absolute;
    width: 1440px;
    height: 800px;
    left: 0px;
    top: 2816px;

    background: #ffffff;
  }

  .TestimonialTitle {
    position: absolute;
    width: 457px;
    height: 96px;
    left: 96px;
    top: 96px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;

    color: #000000;
  }

  .TestimonialHeader {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;

    position: absolute;
    width: 84px;
    height: 6px;
    left: 1260px;
    top: 108px;
  }

  .TestimonialHeader1 {
    width: 48px;
    height: 6px;

    background: #c1dcdc;
    border-radius: 12px;


    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .TestimonialHeader2 {
    width: 12px;
    height: 6px;

    background: #d9d9d9;
    border-radius: 12px;

    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .TestimonialHeader3 {
    width: 12px;
    height: 6px;

    background: #d9d9d9;
    border-radius: 12px;

    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .TestimonialBlock1 {
    position: absolute;
    width: 800px;
    height: 330px;
    left: 96px;
    top: 240px;


    background: #c1dcdc;
    border-radius: 12px;
  }

  .TestimonialBlock1Text {
    position: absolute;
    width: 690px;
    height: 81px;
    left: 48px;
    top: 48px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: left;
    word-wrap: break-word;
    word-break: break-word;

    color: rgba(30, 30, 30, 0.75);
  }

  .TestimonialBlock1Group {
    width: 150px;
    height: 205.99px;
    left: 13px;
    top: 126px;
  }

  .TestimonialBlock1Pic1 {
    position: absolute;
    width: 150px;
    height: 205.99px;
    left: 13px;
    top: 124px;
    z-index: 1;
  }

  .TestimonialBlock1Pic2 {
    position: absolute;
    width: 48px;
    left: 6%;
    right: 88%;
    top: 56.97%;
    bottom: 30.61%;
    z-index: 0;
  }

  .TestimonialBlock1TextGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 86px;
    height: 45px;
    left: 170px;
    top: 183px;
  }

  .TestimonialBlock1Text1 {
    width: 86px;
    height: 27px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    color: #1e1e1e;

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .TestimonialBlock1Text2 {
    width: 56px;
    height: 18px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;

    color: rgba(30, 30, 30, 0.5);

    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .TestimonialBlock2 {
    position: absolute;
    width: 800px;
    height: 330px;
    left: 944px;
    top: 240px;

    /* Color 1 */

    background: #c1dcdc;
    border-radius: 12px;
  }

  .Star {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;

    position: absolute;
    width: 61px;
    height: 27px;
    left: 787px;
    top: 423px;
  }

  .starFill {
    width: 20px;
    height: 20px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .starPic {
    height: 18x;
    width: 20px;
    position: absolute;
    left: 0.01%;
    right: -0.01%;
    top: 3.12%;
    bottom: 3.13%;
  }

  .starText {
    width: 29px;
    height: 27px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    color: #1e1e1e;

    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .Footer {
    position: absolute;
    width: 1440px;
    height: 400px;
    left: 0px;
    top: 3616px;

    background: #c1dcdc;
  }

  .footerBlockLeft {
    width: 192px;

    position: absolute;
    top: 48px;
    left: 96px;
    gap: 24px;

    display: flex;
    flex-direction: column;
  }


  .footerBlockLeftTitle {
    font-family: "Quella";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 29px;

    color: #000000;
  }

  .footerBlockLeftText {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: left;
    word-wrap: break-word;
    word-break: break-word;

    color: rgba(30, 30, 30, 0.5);
  }

  .footerBlockLeftIconGroup {
    width: 192px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footerIcon {
    width: 48px;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid rgba(30, 30, 30, 0.5);
  }

  .footerIcon1 {
    width: 12px;
  }

  .footerIcon2 {
    width: 16.67px;
  }

  .footerIcon3 {
    width: 20px;
  }

  .footerBlock2 {
    width: 452px;
    height: 180px;

    position: absolute;
    right: 0;
    top: 0;
    padding: 48px 96px;

    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  .footerBlock2TextGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 0px;
    gap: 24px 48px;

    width: 111px;
    height: 180px;
  }

  .footerBlock2TextTitle {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    color: #1e1e1e;
  }

  .footerBlock2Text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    color: rgba(30, 30, 30, 0.5);
  }

  .footerText {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 48px 96px;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    color: rgba(30, 30, 30, 0.5);
  }